{% extends 'base.html' %}

{% block title %}Password Updated{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">{{ block.super }}</div>

                <div class="card-body">
                    <div class="alert alert-success" role="alert">
                        <strong>Success!</strong> Your password has been changed successfully.
                    </div>

                    <p class="mb-0">You can continue browsing or <a href="{% url 'home' %}">go to the home page</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
